<header class="p-3">
  <div
    class="d-flex align-items-center justify-content-between flex-wrap gap-3"
  >
    <h5 class="page-title mb-0">Timeline</h5>

    <div class="d-flex align-items-center flex-wrap gap-3">
      <!-- Search bar -->
      <app-search-bar class="flex-shrink-0"></app-search-bar>

      <!-- Dropdowns -->
      <div>
        <select
          class="form-select"
          aria-label="Filter"
          (change)="changeRange()"
          [(ngModel)]="selectedRange"
        >
          <option selected disabled>Filter Range</option>
          <option [value]="item.id" *ngFor="let item of rangeList">
            {{ item.value }}
          </option>
        </select>
      </div>
      <ng-container *ngIf="isCustomStep">
        <div>
          <input
            [(ngModel)]="customStep"
            (ngModelChange)="customStepChange()"
            type="number"
            class="form-control"
            id="customStep"
            placeholder="Custom Interval"
          />
        </div>
      </ng-container>

      <div>
        <select
          class="form-select"
          aria-label="Filter"
          (change)="changeTimeline()"
          [(ngModel)]="timeLineRangeValue"
        >
          <option selected disabled>Filter Timeline</option>
          <option
            *ngFor="let item of timeLineRange"
            [value]="[item.startYear, item.endYear]"
          >
            {{ item.startYear }} - {{ item.endYear }}
          </option>
        </select>
      </div>

      <!-- Start: Zoom In/Out Button -->
      <div class="d-flex justify-content-end">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-dark">-</button>
          <button type="button" class="btn btn-dark">+</button>
        </div>
      </div>
      <!-- End: Zoom In/Out Button -->
    </div>
  </div>
</header>
