@font-face {
  font-family: 'timeline-voyage';
  src:  url('fonts/timeline-voyage.eot?fm6qbd');
  src:  url('fonts/timeline-voyage.eot?fm6qbd#iefix') format('embedded-opentype'),
    url('fonts/timeline-voyage.ttf?fm6qbd') format('truetype'),
    url('fonts/timeline-voyage.woff?fm6qbd') format('woff'),
    url('fonts/timeline-voyage.svg?fm6qbd#timeline-voyage') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'timeline-voyage' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e903";
}
.icon-dashboard:before {
  content: "\e900";
}
.icon-to-do:before {
  content: "\e901";
}
.icon-time-voyage:before {
  content: "\e902";
}
