<!-- Year count -->
<h6 class="year-text text-center mb-5">
  {{ year }}
  <span class="" *ngIf="yearPresentInBetweenTheTimeline.length"> (*)</span>
</h6>

<!-- Show more button -->
<div class="show-more">
  <button
    class="btn btn-sm btn-dark"
    (click)="showMore()"
    *ngIf="initialTempEvents && initialTempEvents.length > 3"
  >
    Show More
  </button>
</div>

<!-- Event cards -->
<div class="event-card-grid">
  <div
    class="card"
    *ngFor="let event of events"
    (click)="openEventDetails(event)"
  >
    <figure class="mb-0">
      <img
        src="{{ event.image }}"
        class="card-img-top img-fluid"
        alt="{{ event.title }}"
      />
    </figure>
    <div class="card-body">
      <h5 class="card-title">{{ event.title }}</h5>
      <p class="card-text">{{ event.date }}</p>
    </div>
  </div>
</div>
